{% extends "app/base.html" %}

{% block content %}

<div class="card card-profile my-5 mx-auto">
    <div class="card-body">
        <h5 class="card-title text-center">プロフィール</h5>
        <table class="profile_table mb-4">
            <tbody>
                <tr>
                    <th class="header">名前</th>
                    <td class="data">{{ user_data.first_name }} {{ user_data.last_name }}</td>
                </tr>
                <tr>
                    <th class="header">メールアドレス</th>
                    <td class="data">{{ user_data.email }}</td>
                </tr>
                <tr>
                    <th class="header">所属</th>
                    <td class="data">{{ user_data.department }}</td>
                </tr>
                <tr>
                    <th class="header">入会日</th>
                    <td class="data">{{ user_data.created }}</td>
                </tr>
            </tbody>
        </table>
        <div class="button mx-auto">
            <a class="btn btn-lg btn-warning btn-block" href="{% url 'profile_edit' %}">編集する</a>
        </div>
    </div>
</div>

{% endblock %}
