{% extends "app/base.html" %}

{% block content %}

<div class="card card-profile my-5 mx-auto">
    <div class="card-body">
        <h5 class="card-title text-center">プロフィール</h5>
        <table class="profile_table mb-4">
            <tbody>
                <tr>
                    <th class="header">名前</th>
                    <td class="data">{{ user_data.first_name }} {{ user_data.last_name }}</td>
                </tr>
                <tr>
                    <th class="header">メールアドレス</th>
                    <td class="data">{{ user_data.email }}</td>
                </tr>
                <tr>
                    <th class="header">所属</th>
                    <td class="data">{{ user_data.department }}</td>
                </tr>
                <tr>
                    <th class="header">所属店舗</th>
                    <td class="data">
                        {% for staff in staff_data %}
                            <p><a href="{% url 'my_page_calendar' staff.pk %}">{{ staff.store.name }}</a></p>
                        {% empty %}
                            <p>所属がありません</p>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th class="header">予約</th>
                    <td class="data">
                        {% for schedule in schedule_data %}
                            <p><a href="{% url 'my_page_schedule' schedule.pk %}">{{ schedule.name }}：{{ schedule.start }}～{{ schedule.end }}</a></p>
                        {% empty %}
                            <p>予約がありません</p>
                        {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="button mx-auto">
            <a class="btn btn-lg btn-warning btn-block" href="{% url 'profile_edit' %}">編集する</a>
        </div>
    </div>
</div>

{% endblock %}
